@import '../utils/mixins.scss';

:root {
  /*========== Colors ==========*/

  /* HSL color mode */
  --body-color: #f4f4f4;
  --overlay-color: #fbfbfb;
  --accent-color: #4440f6;
  --text-color: #111321;
  --text-color-light: #a8a8a8;
  --white-color: #ffffff;
  --black-color: #111321;
  --light-grey-color: #7a7a7a;
  --accent-color-read: #00dd73;
  --accent-color-overlay: #4440f7;
  --inactive-color: #5f6775;
  /*========== Variables Dark theme ==========*/
  body.darkMode {
    --body-color: #2e2e2e;
    --text-color: #f4f4f4;
    --light-grey-color: #1f1f1f;
  }

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 700;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
